/* body{
/* display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr 1fr; 
} */

.godDiv {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    /*background-color: blue;  */
}


/* main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
} */

.mouseClickDiv{
    /* background-color: yellow; */
}

#div1 {
    grid-column: 1;
    grid-row: 1;   
}

#div2 {
    grid-column: 2;
    grid-row: 1;
    /* background-color:white; */
}

#div3 {
    grid-column: 1;
    grid-row: 2;
    /* background-color:white; */
}

#div4 {
    grid-column: 2;
    grid-row: 2;
    /* background-color: white */
}

