/* body{
/* display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr 1fr; 
} */

.pixelGridDiv {
    height: 80vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    /*background-color: blue;  */
}


/* main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
} */

.mouseClickDiv{
    /* background-color: yellow; */
}

#div1 {
    grid-column: 1;
    grid-row: 1;   
}

#div2 {
    grid-column: 2;
    grid-row: 1;
    /* background-color:white; */
}

#div3 {
    grid-column: 1;
    grid-row: 2;
    /* background-color:white; */
}

#div4 {
    grid-column: 2;
    grid-row: 2;
    /* background-color: white */
}

.colorPicker{
    height: 20vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

#red {
    grid-column: 1;
    grid-row: 1;
    background-color: red;
    color: white;
    text-align: center;
    
}

#pink {
    grid-column: 2;
    grid-row: 1;
    background-color: pink;
    text-align: center;
}

#orange {
    grid-column: 3;
    grid-row: 1;
    background-color: orange;
    text-align: center;
}

#yellow {
    grid-column: 4;
    grid-row: 1;
    background-color: yellow;
    text-align: center;
}

#green {
    grid-column: 5;
    grid-row: 1;
    background-color: green;
    text-align: center;
    color: white;
}

#blue {
    grid-column: 1;
    grid-row: 2;
    background-color: blue;
    color: white;
    text-align: center;
}

#purple {
    grid-column: 2;
    grid-row: 2;
    background-color: purple;
    color: white;
    text-align: center;
}

#brown {
    grid-column: 3;
    grid-row: 2;
    background-color: brown;
    color: white;
    text-align: center;
}

#gray {
    grid-column: 4;
    grid-row: 2;
    background-color: gray;
    text-align: center;
}

#black {
    grid-column: 5;
    grid-row: 2;
    background-color: black;
    color: white;
    text-align: center;
}